* {
    box-sizing: border-box;
}

.Navbar {
    display: flex;
    align-items: center;
    background-color: #21222a;
    padding: 30px 25px;
    height: 90px;
}

.nav--icon {
    width: 30px;
    margin-right: 7px;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.Main {
    height: 100%;
    padding: 57px 27px;
    color: white;
    z-index: 1;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--list {
    margin-top: 46px;
    max-width: 400px;
}

.main--list > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}
